input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background: black;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  -webkit-text-fill-color: #fff;
}


.red{
    color: #4c4c4c;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 10px;
}

/* Styling the hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker gray on hover */
}
